html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  background: var(--body-bg);
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 131px;
  height: 48px;
  border-radius: 8px;
  background: #31c3e0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav__list {
  display: flex;
}
.nav__link {
  display: inline-block;
  color: #676a6c;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 114.286%;
  padding: 5px 17px;
}
.nav__link:hover {
  color: #2d3134;
}
.nav__link--active {
  position: relative;
  color: #2d3134;
}
.nav__link--active::after {
  position: absolute;
  left: 17px;
  bottom: 0;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #ff7b29;
}

.logo {
  display: block;
  width: 80px;
  height: 80px;
}
@media (max-width: 575.98px) {
  .logo {
    display: none;
  }
}
.logo img {
  width: 100%;
  height: 100%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.line-clamp.line-4 {
  --line-clamp: 4;
}

.heading {
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
  color: var(--text-color);
}

.heading.title {
  margin-top: 70px;
  font-size: 2.8rem;
  color: var(--text-color);
}

.desc {
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 162.5%;
  color: var(--text-color);
  text-align: justify;
}

.modal {
  position: fixed;
  z-index: 99;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.modal.show {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.modal__container {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 30px;
  background: #292e39;
  width: 70vw;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.modal.show .modal__container {
  transform: translateX(0);
}
.modal__close {
  width: 24px;
  height: 24px;
}
.modal__content {
  margin-top: 30px;
}
.modal__link {
  display: block;
  font-size: 1.6rem;
  padding: 10px 0;
  color: #fff;
}
.modal__link:hover {
  text-decoration: underline;
}

html.dark {
  --text-color: #e0e0e0;
  --body-bg: #292e39;
  --header-bg: #171c28;
  --header-border: rgba(255 255 255 / 10%);
  --header-bar-filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(0%) hue-rotate(118deg) brightness(109%) contrast(103%);
  --toggle-btn-bg: #2e80ce;
  --info-bg: #171c28;
  --icon-filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(0%) hue-rotate(200deg) brightness(101%) contrast(102%);
}

html {
  --text-color: #1a162e;
  --body-bg: #f6f6f6;
  --header-bg: #eee;
  --header-border: rgba(255 255 255 / 10%);
  --header-bar-filter: brightness(0) saturate(100%) invert(0%) sepia(93%)
    saturate(0%) hue-rotate(146deg) brightness(97%) contrast(100%);
  --toggle-btn-bg: #2c3e50;
  --info-bg: #eee;
  --icon-filter: brightness(0) saturate(100%) invert(93%) sepia(18%)
    saturate(5%) hue-rotate(84deg) brightness(87%) contrast(87%);
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 15px 30px;
  background: var(--header-bg);
  border-bottom: 1px solid var(--header-border);
}
@media (max-width: 575.98px) {
  .header__top {
    padding: 30px;
  }
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__row {
    position: relative;
  }
}
@media (max-width: 767.98px) {
  .header__row {
    justify-content: center;
  }
}
.header__bar {
  width: 24px;
  height: 24px;
  display: none;
  filter: var(--header-bar-filter);
}
@media (max-width: 767.98px) {
  .header__bar {
    display: block;
    position: absolute;
    left: 0;
  }
}
.header__logo {
  width: 80px;
  height: 80px;
}
@media (max-width: 575.98px) {
  .header__logo {
    display: none;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: flex;
}
.header__link {
  padding: 18px;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--text-color);
  transition: color 0.3s;
}
.header__link--active {
  color: #00adb5;
}
.header__link:hover {
  color: #00adb5;
}
@media (max-width: 991.98px) {
  .header__btn {
    display: none;
  }
}
.header__hero {
  height: 100vh;
}
@media (max-width: 1199.98px) {
  .header__hero {
    height: 80vh;
  }
}
@media (max-width: 991.98px) {
  .header__hero {
    height: 70vh;
  }
}
@media (max-width: 767.98px) {
  .header__hero {
    height: 50vh;
  }
}
@media (max-width: 575.98px) {
  .header__hero {
    display: none;
  }
}
.header__hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: var(--toggle-btn-bg);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.theme-toggle--lg {
  display: block;
}
@media (max-width: 767.98px) {
  .theme-toggle--lg {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .theme-toggle--md {
    display: block;
    margin-left: auto;
  }
}
.theme-toggle.dark-mode {
  color: #ecf0f1;
}

.info {
  margin-top: 140px;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .info {
    margin-top: 70px;
    padding: 0 10px;
  }
}
.info__sub-heading {
  color: #ff7b29;
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 133.333%;
}
.info__heading {
  margin: 10px 0 20px;
  color: var(--text-color);
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 112.903%;
}
@media (max-width: 575.98px) {
  .info__heading {
    font-size: 2.8rem;
  }
}
.info__body {
  padding: 15px;
  background: var(--info-bg);
  border-radius: 16px;
}
.info__desc {
  font-size: 1.6rem;
  line-height: 162.5%;
}
@media (max-width: 575.98px) {
  .info__desc {
    font-size: 1.4rem;
  }
}
.info__desc + .info__desc {
  margin-top: 15px;
}
.info__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.activiti {
  margin-top: 140px;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .activiti {
    margin-top: 70px;
    padding: 0 10px;
  }
}
.activiti__heading {
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .activiti__heading {
    font-size: 2.8rem;
  }
}
.activiti__desc {
  padding: 15px;
  background: var(--info-bg);
  border-radius: 16px;
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .activiti__desc, .activiti__item {
    font-size: 1.4rem;
  }
}
.activiti__list {
  padding: 15px;
  background: var(--info-bg);
  border-radius: 16px;
}
.activiti__item {
  padding: 10px 0;
}
.activiti__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  gap: 10px;
}
@media (max-width: 575.98px) {
  .activiti__body {
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 0;
    grid-auto-rows: initial;
    grid-auto-flow: initial;
  }
}
.activiti__img-wrap--tall {
  grid-row: span 2;
}
@media (max-width: 575.98px) {
  .activiti__img-wrap--tall {
    grid-row: initial;
  }
}
.activiti__img-wrap--wide {
  grid-column: span 2;
  gap: 10px;
}
@media (max-width: 575.98px) {
  .activiti__img-wrap--wide {
    grid-column: initial;
    gap: initial;
  }
}
.activiti__img-wrap--big {
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 575.98px) {
  .activiti__img-wrap--big {
    grid-column: initial;
    grid-row: initial;
  }
}
.activiti__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.address {
  margin-top: 140px;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .address {
    margin-top: 70px;
    padding: 0 10px;
  }
}
.address__heading {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 30px;
}
@media (max-width: 575.98px) {
  .address__heading {
    font-size: 2.8rem;
  }
}

.schedule {
  text-align: center;
  padding: 40px 20px 0;
}
@media (max-width: 575.98px) {
  .schedule {
    margin-top: 70px;
    padding: 0 10px;
  }
}
.schedule__heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.schedule__table {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
.schedule__table th,
.schedule__table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}
.schedule__table th {
  background-color: #ffcc00;
  color: #222;
  font-weight: bold;
}
.schedule__table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.schedule__table tr:nth-child(odd) {
  background-color: #87f1ec;
}
.schedule__table tr:hover {
  background-color: #ffe680;
}

.footer {
  margin-top: 140px;
  padding: 20px 30px;
}
@media (max-width: 991.98px) {
  .footer {
    margin-top: 100px;
    padding: 0 10px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    margin-top: 70px;
    padding: 20 10px;
  }
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 991.98px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .footer__inner {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.footer__logo {
  width: 128px;
  height: 128px;
}
.footer__desc {
  margin: 10px 0;
  color: var(--text-color);
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 162.5%;
}
.footer__heading {
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
}
.footer__link {
  display: flex;
  gap: 10px;
}
.footer__link:hover img {
  transform: scaleX(1.5);
}
.footer__icon {
  display: block;
  width: 18px;
  transition-duration: 0.3s;
  filter: var(--icon-filter);
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  filter: grayscale(50%);
  transition: translate, filter;
  transition-duration: 0.3s;
}
.footer__social-link:hover {
  filter: grayscale(0);
  translate: 0 -3px;
}
.footer__social-link img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
}
.footer__social-link--fb {
  background: #4863a9;
}
.footer__social-link--tw {
  background: #4999e6;
}
.footer__social-link--tt {
  background: #000;
}
.footer__social-link--tt img {
  width: 16px;
}
.footer__social-link--ytb {
  background: #f00;
}
.footer__social-link--ytb img {
  width: 16px;
}

/*# sourceMappingURL=main.css.map */
