html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 131px;
  height: 48px;
  border-radius: 8px;
  background: #31c3e0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav__list {
  display: flex;
}
.nav__link {
  display: inline-block;
  color: #676a6c;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 114.286%;
  padding: 5px 17px;
}
.nav__link:hover {
  color: #2d3134;
}
.nav__link--active {
  position: relative;
  color: #2d3134;
}
.nav__link--active::after {
  position: absolute;
  left: 17px;
  bottom: 0;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #ff7b29;
}

.logo__img {
  height: 29px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.line-clamp.line-4 {
  --line-clamp: 4;
}

.modal {
  position: fixed;
  z-index: 99;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 30px;
  background: #292e39;
  width: 70vw;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.modal.show .modal__container {
  transform: translateX(0);
}
.modal__close {
  width: 24px;
  height: 24px;
}
.modal__content {
  margin-top: 30px;
}
.modal__link {
  display: block;
  font-size: 1.6rem;
  padding: 10px 0;
  color: #fff;
}
.modal__link:hover {
  text-decoration: underline;
}

.header__top {
  padding: 0 30px;
  background: rgb(29, 29, 29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__row {
    position: relative;
  }
}
@media (max-width: 767.98px) {
  .header__row {
    justify-content: center;
  }
}
.header__bar {
  width: 24px;
  height: 24px;
  display: none;
}
@media (max-width: 767.98px) {
  .header__bar {
    display: block;
    position: absolute;
    left: 0;
  }
}
.header__logo {
  width: 128px;
  height: 128px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 991.98px) {
  .header__nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767.98px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: flex;
  color: #fff;
}
.header__link {
  padding: 18px;
  font-weight: 500;
  font-size: 1.6rem;
  color: #bfbfbf;
}
.header__link--active {
  color: #fff;
}
.header__link:hover {
  color: #fff;
}
.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 30px;
  height: 48px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 130px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 991.98px) {
  .header__btn {
    display: none;
  }
}
.header__hero {
  height: calc(100vh - 128px);
}
@media (max-width: 1199.98px) {
  .header__hero {
    height: 80vh;
  }
}
@media (max-width: 991.98px) {
  .header__hero {
    height: 70vh;
  }
}
@media (max-width: 767.98px) {
  .header__hero {
    height: 50vh;
  }
}
@media (max-width: 767.98px) {
  .header__hero {
    height: 40vh;
  }
}
.header__hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  margin-top: 140px;
  margin-right: initial;
  padding: 0 30px;
}
@media (max-width: 767.98px) {
  .info {
    margin-top: 70px;
  }
}
@media (max-width: 575.98px) {
  .info {
    padding: 0 10px;
  }
}
.info__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 110px;
}
@media (max-width: 1199.98px) {
  .info__inner {
    gap: 50px;
  }
}
@media (max-width: 991.98px) {
  .info__inner {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .info__inner {
    grid-template-columns: 1fr;
  }
}
.info__sub-heading {
  color: #ff7b29;
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 133.333%;
}
.info__heading {
  max-width: 515px;
  margin: 10px 0 20px;
  color: #2d3134;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 112.903%;
}
@media (max-width: 991.98px) {
  .info__heading {
    font-size: 3.8rem;
  }
}
.info__desc {
  max-width: 551px;
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 162.5%;
}
.info__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.choose-us {
  margin-top: 140px;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .choose-us {
    padding: 0 10px;
  }
}
.choose-us__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .choose-us__inner {
    grid-template-columns: 1fr;
  }
}
.choose-us__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 64px;
}
@media (max-width: 575.98px) {
  .choose-us__img {
    width: 100%;
    border-radius: 8px;
  }
}
.choose-us__heading {
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 991.98px) {
  .choose-us__heading {
    font-size: 3.8rem;
  }
}
.choose-us__sub-heading {
  margin-top: 16px;
  color: #676a6c;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 162.5%;
}
@media (max-width: 991.98px) {
  .choose-us__sub-heading {
    font-size: 1.4rem;
  }
}

.choose-us-reason-list {
  margin-top: 60px;
}
@media (max-width: 575.98px) {
  .choose-us-reason-list {
    margin-top: 30px;
  }
}
.choose-us-reason-list__item {
  display: flex;
  gap: 30px;
}
@media (max-width: 575.98px) {
  .choose-us-reason-list__item img {
    display: none;
  }
}
.choose-us-reason-list__item + .choose-us-reason-list__item {
  margin-top: 40px;
}
@media (max-width: 575.98px) {
  .choose-us-reason-list__item + .choose-us-reason-list__item {
    margin-top: 15px;
  }
}
.choose-us-reason-list__title {
  color: #2d3134;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 162.5%;
}
.choose-us-reason-list__sub-title {
  margin-top: 8px;
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  line-height: 142.857%;
}

.tour-guides {
  margin-top: 140px;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .tour-guides {
    padding: 0 10px;
  }
}
.tour-guides__title {
  margin-bottom: 60px;
  text-align: center;
  color: #2d3134;
  font-size: 40;
  font-weight: 700;
  line-height: 125%;
}
.tour-guides__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .tour-guides__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  .tour-guides__list {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
.tour-guides__avatar-wrap {
  width: 100%;
  height: 306px;
  overflow: hidden;
  border-radius: 12px;
}
.tour-guides__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s;
}
.tour-guides__avatar:hover {
  transform: scale(1.2);
}
.tour-guides__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 15px;
}
.tour-guides__name {
  color: #2d3134;
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
}
.tour-guides__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.tour-guides__desc {
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  line-height: 142.857%;
  text-align: center;
}

.activities {
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .activities {
    padding: 0 10px;
  }
}
.activities__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 140px 0 70px;
  margin-top: 0;
}
@media (max-width: 1199.98px) {
  .activities__inner {
    grid-template-columns: 1fr;
  }
}
.activities__heading {
  margin-top: 140px;
  color: #2d3134;
  font-size: 40;
  font-weight: 700;
  line-height: 125%;
}
.activities__left {
  flex-shrink: 0;
}
.activities__list {
  margin-top: 67px;
}
.activities__item {
  width: 493px;
  max-height: 180px;
  padding: 25px 40px;
  border: 2px solid #0cce84;
  background: transparent;
  color: #000;
  border-radius: 15px;
}
@media (max-width: 1199.98px) {
  .activities__item {
    width: 100%;
  }
}
.activities__item:hover {
  cursor: pointer;
  border-color: #ff7667;
}
.activities__item:nth-child(2) .feature-bottom__title::after {
  background: #0cce84;
}
.activities__item:nth-child(3) .feature-bottom__title::after {
  background: #ff7667;
}
.activities__item + .activities__item {
  margin-top: 16px;
}
.activities__title {
  position: relative;
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 600;
}
.activities__title::after {
  content: "";
  position: absolute;
  right: -14px;
  bottom: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ef8f00;
}
.activities__desc {
  margin-top: 9px;
  line-height: 1.4;
}
@media (max-width: 575.98px) {
  .activities__desc {
    font-size: 1.8rem;
  }
}
.activities__btn {
  margin: 27px 0 0 237px;
  width: 218px;
  height: 68px;
  border-radius: 12px;
  border: 2px solid #36383e;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.activities__img-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 78px;
}
@media (max-width: 1199.98px) {
  .activities__img-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.activities__img {
  flex-direction: column;
  width: 348px;
  height: 263px;
  object-fit: cover;
  border-radius: 31px;
  border: 3px solid transparent;
  background: linear-gradient(to right, #a7ef4c, #ff5435, #ef8f00) border-box;
}
.activities__img:nth-child(2) {
  margin: -160px 0 0 200px;
}
@media (max-width: 1199.98px) {
  .activities__img:nth-child(2) {
    margin: 0;
  }
}
.activities__img:nth-child(3) {
  margin: -71px 0 0 25px;
}
@media (max-width: 1199.98px) {
  .activities__img:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 1199.98px) {
  .activities__img {
    width: 100%;
    height: 420px;
  }
}
@media (max-width: 1199.98px) {
  .activities__img {
    height: 320px;
  }
}

.our {
  margin-top: 140px;
  text-align: center;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .our {
    padding: 0 10px;
  }
}
.our__heading {
  color: #2d3134;
  font-size: 40;
  font-weight: 700;
  line-height: 125%;
}
.our__desc {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.8);
}
.our__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 600px;
  margin-top: 60px;
}
@media (max-width: 991.98px) {
  .our__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .our__grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.our__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.our__masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.address {
  margin-top: 140px;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .address {
    margin-top: 70px;
    padding: 0 10px;
  }
}
.address__heading {
  color: #2d3134;
  font-size: 40;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 30px;
}

.footer {
  margin-top: 140px;
  padding: 20px 30px;
}
@media (max-width: 991.98px) {
  .footer {
    margin-top: 100px;
    padding: 0 10px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    margin-top: 70px;
    padding: 0 10px;
  }
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 991.98px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .footer__inner {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.footer__logo {
  width: 120px;
  border-radius: 50%;
}
.footer__desc {
  margin: 10px 0;
  color: #676a6c;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 162.5%;
}
.footer__heading {
  margin-bottom: 20px;
  color: #2d3134;
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
}
.footer__link {
  display: flex;
  gap: 30px;
}
.footer__icon {
  display: block;
  width: 18px;
  filter: brightness(0) saturate(100%) invert(44%) sepia(1%) saturate(2660%) hue-rotate(132deg) brightness(93%) contrast(89%);
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  filter: grayscale(50%);
  transition: translate, filter;
  transition-duration: 0.3s;
}
.footer__social-link:hover {
  filter: grayscale(0);
  translate: 0 -3px;
}
.footer__social-link img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
}
.footer__social-link--fb {
  background: #4863a9;
}
.footer__social-link--tw {
  background: #4999e6;
}
.footer__social-link--tt {
  background: #000;
}
.footer__social-link--tt img {
  width: 16px;
}
.footer__social-link--ytb {
  background: #f00;
}
.footer__social-link--ytb img {
  width: 16px;
}

/*# sourceMappingURL=main.css.map */
